{{ if eq .chezmoi.os "linux" -}}

[Unit]
Description=Running gitea Service

[Container]
Image=docker.gitea.com/gitea:1.23.6
ContainerName=gitea
PublishPort=3000:3000
PublishPort=2222:22
Environment=USER_UID=1000
Environment=USER_GID=1000
HealthCmd='curl -sI localhost:3000 |grep -q "200 OK"'
Volume=/storage/gitea/:/data

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

{{ end }}
