[Unit]
Description=Home Assistant Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable
Environment=TZ=Europe/Madrid
Volume=/storage/homeassistant/config:/config
Volume=/run/dbus:/run/dbus:ro
Network=host

[Service]
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
