PATH=$HOME/.local/bin:$HOME/bin:$PATH

export STARSHIP_CONFIG=~/.starship.toml

{{ if eq .chezmoi.os "linux" -}}

eval "$(starship init bash)"
eval "$(zoxide init bash)"
eval "$(fzf --bash)"
eval "$(/usr/bin/mise activate bash)"

if [ -f ~/.config/forgit/forgit.plugin.sh ]; then
  source ~/.config/forgit/forgit.plugin.sh
fi

if [ -f /usr/share/doc/fzf/examples/key-bindings.bash ]; then
  source /usr/share/doc/fzf/examples/key-bindings.bash
fi

{{ else if eq .chezmoi.os "darwin" }}

eval "$(starship init zsh)"
eval "$(zoxide init zsh)"
eval "$(fzf --zsh)"
eval "$(/opt/homebrew/bin/mise activate zsh)"

{{- end -}}

