# fresh: shell/starship-Linux.sh

export STARSHIP_CONFIG=~/.starship.toml
eval "$(starship init bash)"

# fresh: shell/zoxide-Linux.sh

eval "$(zoxide init bash)"

# fresh: shell/forgit.sh

source ~/.fresh/build/forgit/forgit.plugin.sh
