{{ if eq .chezmoi.os "linux" -}}

{{- $filtered_bashrc := "" -}}

{{- /* Incluir el contenido de /etc/skel/.bashrc */ -}}
{{- $skel_bashrc := include "/etc/skel/.bashrc" | splitList "\n" -}}

{{- /* Filtrar líneas comentadas (que comienzan con #) */ -}}
{{- $filtered_bashrc := "" -}}
{{- range $line := $skel_bashrc -}}
    {{- if not (hasPrefix (trim $line) "#") -}}
        {{- $filtered_bashrc = printf "%s\n%s" $filtered_bashrc $line -}}
    {{- end -}}
{{- end -}}

{{- /* Añadir lógica para cargar .shell_aliases y .shellrc si existen */ -}}
{{- $filtered_bashrc = printf "%s\n\n%s" $filtered_bashrc "# Cargar .shell_aliases si existe" -}}
{{- $filtered_bashrc = printf "%s\n%s" $filtered_bashrc "if [ -f ~/.shell_aliases ]; then source ~/.shell_aliases; fi" -}}

{{- $filtered_bashrc = printf "%s\n\n%s" $filtered_bashrc "# Cargar .shellrc si existe" -}}
{{- $filtered_bashrc = printf "%s\n%s" $filtered_bashrc "if [ -f ~/.shellrc ]; then source ~/.shellrc; fi" -}}

{{- /* Generar el archivo .bashrc */ -}}
{{ $filtered_bashrc }}
{{- end -}}
