{{ if eq .chezmoi.os "linux" -}}

PATH=$HOME/.local/bin:$HOME/bin:$PATH

if [ -f ~/.config/forgit/forgit.plugin.sh ]; then
  source ~/.config/forgit/forgit.plugin.sh
fi

if [ -f /usr/share/doc/fzf/examples/key-bindings.bash ]; then
  source /usr/share/doc/fzf/examples/key-bindings.bash
fi

{{- end -}}

export STARSHIP_CONFIG=~/.starship.toml

eval "$(starship init bash)"
eval "$(zoxide init bash)"
eval "$(fzf --bash)"
