{{ if eq .chezmoi.os "darwin" -}}

eval "$(/opt/homebrew/bin/brew shellenv)"

[ -f $HOMEBREW_PREFIX/share/forgit/forgit.plugin.zsh ] && source $HOMEBREW_PREFIX/share/forgit/forgit.plugin.zsh

if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH
fi
autoload -Uz compinit; compinit

if [ -f ~/.shell_aliases ]; then source ~/.shell_aliases; fi
if [ -f ~/.shellrc ]; then source ~/.shellrc; fi


add_host () {
  VPN_INTERFACE=$(ifconfig |grep "inet " -B1 | awk -F ":" '/utun/ {print $1}')
	GATEWAY_IP=`/sbin/ifconfig ${VPN_INTERFACE} | awk '/inet /{print $2}'`
  echo "Routing $1 via ${GATEWAY_IP} ..." 
	host -t A $1 | awk '/has address/ { print $4 }' | xargs -I {} sudo route add -host {} ${GATEWAY_IP}
}

add_host_to_default_gw () {
  echo "Routing $1 via default gw ..." 
	host -t A $1 | awk '/has address/ { print $4 }' | xargs -I {} sudo route add -host {} default

}

source ~/.envrc

. <(magellan completion zsh)

export PATH="/opt/homebrew/opt/mysql-client/bin:$PATH"
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"

{{- end -}}
