{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# Instala Homebrew si no está presente
if ! command -v brew >/dev/null 2>&1; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
# Instala los paquetes del Brewfile
brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"
{{ end -}}
