{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{ $sudo = "" -}}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{- $apt_file := joinPath .chezmoi.sourceDir "private_dot_config/pkgfiles/Debfile" -}}
#!/bin/bash

set -eufo pipefail
{{ $sudo }} apt install -y $(cat {{ $apt_file }} | grep -v '^#')

if ! command -v zoxide > /dev/null 2>&1; then
  /bin/bash -c "$(curl -sSfL https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh)"
fi

{{ end -}}
