{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# Verifica si la distro es basada en Debian
if command -v apt-get >/dev/null 2>&1; then
    # Actualiza la lista de paquetes
    sudo apt-get update
    # Instala los paquetes listados en apt-packages
    sudo apt-get install -y $(cat "{{ .chezmoi.sourceDir }}/apt-packages" | grep -v '^#')
fi
{{ end -}}
